<div class="container">
  <div class="row">

    <div class="col-1 col-md-4">
    </div>

    <div class="col col-md-4 mt-5">
      <h1 class="mb-3">Add a list</h1>

      <%= simple_form_for [@list] do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, "Finished", class: "btn btn-primary mt-3 mb-1" %>
      <% end %>
      <%= link_to "cancel", lists_path, class: "btn kill-link kill-decoration", id: "cancel-form" %>
    </div>

     <div class="col-1 col-md-4">
     </div>

  </div>
</div>
