#add-list-btn {
display: flex;
justify-content: flex-end;
margin: auto;
padding-right: 45px;

  @media (max-width: 480px) {
    padding-right: 0px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    padding-right: 0px;
    justify-content: center;
  }
}


#add-movie-btn {
display: flex;
justify-content: flex-end;
margin-right: 45px;

  @media (max-width: 480px) {
    margin-right: 0px;
    font-size: 9px;
  }

}

.back-btn {
  margin-left: 45px;
  align-self: center;
  font-size: 18px;
  @media (max-width: 480px) {
    margin-left: 0px;
  }
}

.kill-decoration {
  text-decoration: none;
  padding: 0;
  padding-left: 14px;
  font-size: 14px;
}

.kill-grabber {
  cursor: default;
}

#cancel-form {
  font-size: 10px;
  padding-left: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
}

.red {
  color: red;
}

.ew {
  border: none;
  background-color: white;
}


.add-direct-div {
  display: flex; 
  justify-content: flex-end; 
  padding-right: 15%; 
  position: relative; 
  bottom: 14%;
  @media (max-width: 480px) {
    padding-right: 24%;
  }
}

.add-direct-btn {
  // align-self: flex-end;
  // position: relative;
  // bottom: 42px;
  // left: 307px;

  @media (max-width: 480px) {
    margin-right: 25px;
    margin-bottom: 6px;
    font-size: 17px;
}
}


.space-it {
  min-width: 33%;
}


#add-list {
  @media (max-width: 480px) {
    font-size: 12px;
    height: 37px;
    display: none;
    align-items: center;
  }
}

.collapse {
  display: block!important;
  @media (max-width: 480px) {
   display: none!important;
  }
}


.collapse-flex {
  display: flex!important;
  @media (max-width: 480px) {
   display: none!important;
  }
}


.wow {
  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.stretch {
  flex: 1 0 0%;
}

#front-add-list{
  width: 33%; 
  display: flex; 
  justify-content: end;
  @media (max-width: 480px) {
    display: none;
  }
}


#mobile-front-add {
  display: none;
  @media (max-width: 480px) {
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #8e8c8c;
    margin-right: 22px;
  }
}

.mobile-only {
  display: none;
  @media (max-width: 480px) {
    display: inline;
  }
}

#mobile-front-bookmark{
  display: none;
  @media (max-width: 480px) {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 10px #8e8c8c85;
    margin-right: 9px;
    position: relative;
    bottom: 12px;
  }
}

.align {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
flex-direction: column;
}

.mobile-only-flex {
  display: none;
  @media (max-width: 480px) {
    display: flex;
  }
}